* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #231f20;
    font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3 {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}

p {
    font-family: 'Bebas Neue', sans-serif;
}

.links .active button {
    background-color: #fc0001;
}
/* HANGGANG DITO LNG YUNG HEADER */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 20px;
    background-image: url(../images/landingpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.40);
    background-blend-mode: overlay;
}

.landing h1 {
    font-size: 60px;
    color: white;

}

.landing p {
    font-size: 45px;
    color: white;
}

.landing a button {
    padding: 20px 60px;
    cursor: pointer;
    font-family: inherit;
    font-size: 25px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    transition: background-color 0.3s;
}

.landing a button:hover {
    background-color: white;
    color: #231f20;
}

/* HANGGANG DITO LNG YUNG LANDING PICTURE OR SOMETHIGN WELCOMING ETC */

.featured {
    background-color: cyan;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.featuredname {
    background-color: #231f20;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.featuredname h1 {
    font-size: 70px;
    color: #fc0001;
}

.featuredname p {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

.featureditemswrapper {
    background-color: white;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
}

/* .featureditemswrapper {
    background-color: white;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto; 
    position: relative; 
}

.scroll-left, .scroll-right {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: #231f20;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1; 
    background-color: rgba(35, 31, 32, 0.8); 
}

.scroll-left {
    left: 15px; 
}

.scroll-right {
    right: 15px;
}

.featureditemswrapper::-webkit-scrollbar {
    display: none; 
} */


.featureditem {
    /* background-color: crimson; */
    height: 90%;
    min-width: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.featureditempic {
    /* background-color: darkolivegreen; */
    height: 80%;
    width: 100%;
    border: 3px solid #231f20;
}

.featureditempic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featureditembox2 {
    /* background-color: cyan; */
    height: 20%;
    width: 100%;
    display: flex;
}

.featureditemname {
    height: 100%;
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
}

.featureditemname p {
    font-size: 30px;
    line-height: 1;
}

.p2 {
    font-size: 30px;
    color: #fc0001;
}

.p2 a {
    font-size: 30;
    color: #fc0001;
}

.featureditemprice {
    width: 50%;
    height: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px 0;
}

.featureditemprice p {
    font-size: 30px;
}

/* HANGGANG DITO LNG YUNG FEATURED */