
.active-a {
    color: #fc0001 !important;
}

.mema {
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    grid-auto-rows: 100px;
    grid-auto-flow: row;
    grid-gap: 20px;
}

.memabox1, .memabox2, .memabox3, .memabox4  {
  /* background-color: aqua; */
  grid-row: span 1;
  grid-column: span 2;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 5px;
}

.memabox5 {
  grid-row: span 3;
  grid-column: span 5;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 5px;
}

.memabox6 {
  grid-row: span 3;
  grid-column: span 3;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 5px;
}

.memabox7 {
  grid-row: span 3;
  grid-column: span 4;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 5px;
}

.memabox8 {
  grid-row: span 3;
  grid-column: span 4;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 5px;
}

@media (max-height: 550px) {
  body {
    margin-left: 0;
  }
}