* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: white;
  color: #231f20;
  font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
}

p {
  font-family: 'Bebas Neue', sans-serif;
}

/* HANGGANG DITO LNG YUNG UNIVERSAL THINGIES BASTA YON */

.container {
  background-color: white;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  /* background-color: aquamarine; */
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.sidebarwrapper {
  /* background-color: cornsilk; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.2);
  gap: 10px;
}

.sbbox1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sbheader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  font-size: 12px;
  text-transform: uppercase;
  color: #fc0001;
}

.sbheader img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.sbnav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sbnav-home {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sbnav-database {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sbnav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sbnav2 ul {
  list-style: none;
}

.sbnav li {
  display: flex;
  align-items: center;
  border-radius: 8px;
  outline: none;
}

.sbnav svg {
  height: 30px;
  width: 30px;
}

.sbnav2 svg {
  height: 30px;
  width: 30px;
}

.sbnav a {
  flex: 1;
  text-decoration: none;
  color: #231f20;
  display: flex;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  gap: 5px;
}

.sbnav2 a {
  flex: 1;
  text-decoration: none;
  color: #231f20;
  display: flex;
  padding: 5px;
  font-size: 20px;
  align-items: center;
  gap: 5px;
}

.sbnav a:hover {
  background-color: #FFF5F5;
  border-radius: 8px;
}

.sbnav2 a:hover {
  background-color: #FFF5F5;
  border-radius: 8px;
}



.mcheader {
  position: fixed;
  top: 10px;
  left: 360px;
  right: 10px;
  padding: 20px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
  justify-content: space-between;
}

.mcheader-box1 {
  display: flex;
  gap: 20px;
}

.mcheader-box1 svg {
  height: 30px;
  width: 30px;
}

.mcheader-box1 button {
  border: none;
  cursor: pointer;
}

.menubtn {
  display: none;
  color: #fc0001;
  background-color: white;
}

.cogbtn {
  color: #fc0001;
  background-color: white;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.regnewadminbtn {
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  /* color: white; */
  padding: 2px 10px;
  border-radius: 8px;
  background-color: #fc0001;
  color: white;
}

.regaddialog {
  margin: auto;
  padding: 60px;
  border: 3px solid #231f20;
  outline: none;
  box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.5);
}

.regaddialog::backdrop {
  background-color: rgba(0,0,0,0.3);
}

.radwrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.regaddialog h1 {
  color: #fc0001;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.radform {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radformwrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radformb1 {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  align-items: center;
}

.idunno {
  display: flex;
  flex-direction: column;
}

.radformb1 label, .radformb2 label {
  font-size: 20px;
}

.radformb1 input, .radformb2 input {
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #231f20;
}

.radformb2 {
  display: flex;
  flex-direction: column;
}

.radformbtns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.radformbtns button {
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 5px;
  border: none;
}

.radcancelbtn {
  color: white;
  background-color: #fc0001;
}

.radcreatebtn {
  color: white;
  background-color: #37c677;
}

.mcheader-box2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mcheader-box2 p {
  font-size: 20px;
  color: #fc0001;
}

.mcheader-box2 svg{
  height: 30px;
  width: 30px;
  color: #fc0001;
}


@media (max-height: 550px) {
  .sidebar {
    display: none;
  }

  .mcheader {
    left: 10px;
  }

  .menubtn {
    display: block;
  }
}